* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#hero {
  width: 100vw;
  height: 100vh;
  background: url(hero.jpg) no-repeat bottom/cover; /*changed background image to an original*/
}

.container {
  width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container h1 {
  margin-bottom: .3em;
  font-size: 5em;
} /*want to add curved underline/swoosh -- still figuring this out*/

.container p {
  color: #FFFFFA;
  margin-bottom: 2em;
  font-size: 1.75em;
  max-width: 80%;
}

.container a {
  color: #330F03;
  font-size: 2em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-color: #BEC9F8;
  border-radius: 60em;
  border: none;
  text-decoration: none;
  padding: .5em 3em;
  display: inline-block;
  width: 11.25em; /*prevents cta button from spanning whole width of container*/
 }

.container a:hover {
  background-color: lightblue; /*changes button to light blue on hover*/
}

h1 {
  color: #7D9028;
  font-size: 2.5em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

p {
  color: #330F03;
  font-size: 1.15em;
  font-family: Nunito, Calibri, sans-serif;
}

h3 {
  color: #00421C;
  font-size: 1.7em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 700;
}

blockquote {
  font-size: 1.7em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

a {
   color: #330F03;
  font-size: 1.15em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-color: #BEC9F8;
  border-radius: 60em;
  border: none;
  text-decoration: none;
  padding: .5em 3em; 
  display: inline-block;
}

a:hover {
  background-color: lightblue; /*changes button to light blue on hover*/
}