header {
    background-color: #002b12;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: .25em solid lightblue;
    position: sticky;
    top: 0;
}

header a {
    background: none;
    padding: 0;
    border-radius: 0;
}

header a:hover {
    background: none;
}

img {
    max-height: 5em;
    margin-left: 2.5em;
    padding-top: .2em;
    padding-bottom: .2em;    
}

nav ul {
    display: flex;
    list-style: none;
    font-size: 1.25em;
    font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    margin-right: 2em;
}

nav li {
    position: relative;
}

nav a {
    color: #FFFFFA;
    text-decoration: none;
    background: none;
    padding: 0em 1em;
}

nav a:hover {
    color: lightblue;
    background: none;
}

nav a:active {
    color: #d39d0e;
}

.dropdown {
    width: 100%;
    position: absolute;
    background-color: #002b12;
    flex-direction: column;
    font-size: .9em;
    padding: 1em 0em;
    gap: 1em;
    align-items: center;
    display: none;
}

/* Show dropdown on hover */
nav ul li:hover .dropdown {
    display: flex;
}

@media print {
    header {
        display: none;
    }
}

.mobile-menu {
  display: none;
}

#menu-toggle {
    display: none;
}
#menu-toggle:checked ~ .mobile-menu {
  display: block;
}

@media (min-width: 780px) {
  .hamburger {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

.hamburger {
    padding: 0em 2.5em;
    color:#FFFFFA;
    font-size: 1.5em;
}

@media (max-width: 779px) {
   .mobile-menu {
        position: absolute;
        top: 100%;
        width: 100%;
        background-color: #002b12;
        border-top: .25em solid lightblue;
        border-bottom: .25em solid lightblue;
    
    }

    .mobile-menu ul {
        flex-direction: column;
        font-size: 1.5em;
        align-items: center; 
    }
    
    .mobile-menu a {
        padding: 0.5em 0;
    }

    nav ul li:hover .dropdown {
    display: none;
    }
}