body{
  padding: 0;
  margin: 0;
  background-color: #FFFFFA;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ⌄⌄⌄ DEFAULT STYLING ⌄⌄⌄ */

h1 {
  color: #7D9028;
  font-size: 3.25em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

p {
  color: #330F03;
  font-size: 1.15em;
  font-family: Nunito, Calibri, sans-serif;
  text-align: justify;
}

h3 {
  color: #00421C;
  font-size: 2.5em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

h2 {
  color: #00421C;
  font-size: 1.75em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

blockquote {
  font-size: 1.7em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

a {
  color: #330F03;
  font-size: 1.15em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-color: #BEC9F8;
  border-radius: 60em;
  border: none;
  text-decoration: none;
  padding: .5em 3em; 
  display: flex;
  text-align: center;
  max-width: 9em
}

a:hover {
  background-color: lightblue; /*changes button to light blue on hover*/
}

/* ^^^ DEFAULT STYLING ^^^ */

/* ⌄⌄⌄ HOME PAGE ⌄⌄⌄ */

#herosection {
  width: auto;
  height: 85vh;
  background: url(hero.jpg) no-repeat center/cover;
}

.hero {
  width: 90%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  margin-bottom: .3em;
  font-size: 5em;
  justify-content: left;
} /*want to add curved underline/swoosh -- still figuring this out*/

.hero p {
  color: #FFFFFA;
  margin-bottom: 2em;
  font-size: 1.75em;
  max-width: 80%;
  text-align: left;
}

.hero a {
  font-size: 2em;
  max-width: 5.5em;
}

/* ^^^ HOME PAGE ^^^ */

/* ⌄⌄⌄ ABOUT PAGE ⌄⌄⌄ */

#about-main {
  margin: 3em;
}

#education {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em
}

#education ul {
  color: #330F03;
  font-size: 1.15em;
  font-family: Nunito, Calibri, sans-serif;
  list-style-type: none;
  margin: 1em;
  text-align: center;
  width: 25em;
  padding: 0;
}

#education p {
  text-align: center;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

.edu {
  background-color: #7D9028;
  border-radius: 2.5em;
  padding-top: 4em;
  padding-bottom: 4em;
}

#bio img {
  width: 500px;
  height: auto;
  min-width: 250px;
  max-width: 45vw;  /* responsive */
  max-height: 55vh; /* responsive */
  padding: .5em;
  border-radius: 1.5em;
  background-color: #330F03;
  margin: 2em;
}

#bio {
  margin-bottom: 5em;
}

.video {
  background-color: #00421C;
  padding: 3em;
  border-radius: 2.5em;
  display: flex;
  max-width: 50vw;
  justify-content: center;
}

.video video {
  width: 50vw;
  height: auto;

}

@media print {
  header, nav, a, img, .video, video {
    display: none;
  }

  p, li, #education p {
    font-family: Georgia;
    font-size: 11pt;
    color: black;
  }

  h1, h3 {
    font-size: 14pt;
    color: black;
  }

  #about-main h1, #about-main p, #about-main h3, #education ul, #education p, .edu, .video, video, div, #bio {
    padding: 0 0;
    gap: 0;
  }

  #bio, .edu, h1 {
    margin: 0em;
  }

  h3 {
    margin-bottom: .3em;
    margin-top: 1.5em;
  }

  #about-main {
    margin: 1;
  }

 #education, .edu {
    display: flex;
    flex-direction: row;
    gap: 0em;
    padding: 0em;
    justify-content: center;
    align-items: center;
  }

  footer {
    border-top: none !important;
  }

  footer p {
    padding-top: 0em !important;
    padding-bottom: 0em !important;
    align-items: top !important;
    margin-bottom: 1 !important;
  }

}
/* ^^^ ABOUT PAGE ^^^ */

/* ⌄⌄⌄ REFLECTION PAGE ⌄⌄⌄ */

#reflect {
  display: flex;
}

.left {
  width: 50%;
  margin-left: 5em;
  margin-right: 1em;
}

.right {
  width: 50%;
  margin-right: 5em;
  margin-left: 1em;
}

.right h2 {
  text-align: center;
  text-indent: 0;
}

.right {
  text-indent: 1.5em; /* text-indent is not an allowable property for ::first-line --> https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::first-line#:~:text=the%20right%20margin.-,Allowable%20properties,-Only%20a%20small */
}

.first {
  text-indent: 0;
}

.first::first-letter {
  font-size: 1.5em;
  color:#00421C;
  font-weight: 600;
}

/* ^^^ REFLECTION PAGE ^^^ */

/* ⌄⌄⌄ FOOTER ⌄⌄⌄ */

footer {
  display: flex;
  justify-content: center;
  padding: 0;
  background-color: #00421C;
  border-top: .25em solid #BEC9F8;
  margin-top: auto;
}

footer p {
  font-size: .9em;
  display: flex;
  padding: 1em;
  color:#FFFFFA;
  justify-content: center;
  align-items: center;
}

footer img {
  display: flex;
  height: 2em;
  justify-content: center;
  align-items: center;
  padding-right: 2.5em;
}