body{
  padding: 0;
  margin: 0;
  background-color: #FFFFFA;
}

/* ⌄⌄⌄ DEFAULT STYLING ⌄⌄⌄ */

h1 {
  color: #7D9028;
  font-size: 3.25em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

p {
  color: #330F03;
  font-size: 1.15em;
  font-family: Nunito, Calibri, sans-serif;
  text-align: justify;
}

h3 {
  color: #00421C;
  font-size: 2.5em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

h2 {
  color: #00421C;
  font-size: 1.75em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

blockquote {
  font-size: 1.7em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

a {
  color: #330F03;
  font-size: 1.15em;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  background-color: #BEC9F8;
  border-radius: 60em;
  border: none;
  text-decoration: none;
  padding: .5em 3em; 
  display: flex;
  text-align: center;
  max-width: 9em
}

a:hover {
  background-color: lightblue; /*changes button to light blue on hover*/
}

/* ^^^ DEFAULT STYLING ^^^ */

/* ⌄⌄⌄ HOME PAGE ⌄⌄⌄ */

#herosection {
  width: auto;
  height: 85vh;
  background: url(hero.jpg) no-repeat center/cover;
}

.hero {
  width: 90%;
  height: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  margin-bottom: .3em;
  font-size: 5em;
  justify-content: left;
} /*want to add curved underline/swoosh -- still figuring this out*/

.hero p {
  color: #FFFFFA;
  margin-bottom: 2em;
  font-size: 1.75em;
  max-width: 80%;
  text-align: left;
}

.hero a {
  font-size: 2em;
  max-width: 5.5em;
}

/* ^^^ HOME PAGE ^^^ */

/* ⌄⌄⌄ ABOUT PAGE ⌄⌄⌄ */

#education {
  display: flex;
  margin: 3em;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em
}

#education ul {
  color: #330F03;
  font-size: 1.15em;
  font-family: Nunito, Calibri, sans-serif;
  list-style-type: none;
  margin: 1em;
  text-align: center;
  width: 25em;
  padding: 0;
}

#education p {
  text-align: center;
  font-family: Sansita, 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-weight: 500;
  font-size: 1.5em;
}

.edu {
  background-color: #7D9028;
  border-radius: 2.5em;
  padding-top: 4em;
  padding-bottom: 4em;
}

/* ^^^ ABOUT PAGE ^^^ */

/* ⌄⌄⌄ REFLECTION PAGE ⌄⌄⌄ */

#reflect {
  display: flex;
}

.left {
  width: 50%;
  margin-left: 5em;
  margin-right: 1em;
}

.right {
  width: 50%;
  margin-right: 5em;
  margin-left: 1em;
}

.right h2 {
  text-align: center;
  text-indent: 0;
}

.right {
  text-indent: 1.5em; /* text-indent is not an allowable property for ::first-line --> https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Selectors/::first-line#:~:text=the%20right%20margin.-,Allowable%20properties,-Only%20a%20small */
}

.first {
  text-indent: 0;
}

.first::first-letter {
  font-size: 1.5em;
  color:#00421C;
  font-weight: 600;
}


